* {
    color: #f1f6ce;
    font-family: "Ubuntu", sans-serif;
}

body {
    background-color: #0d0f36;
    margin: 0;
}

header {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
    border-bottom: 5px solid #69d2cd;
    background-color: #f1f6ce;
}

.titulo {
    color: #0d0f36;
}

h1 {
    font-size: 4vw;
}

h2 {
    font-size: 3vw;
}

h3 {
    font-size: 2vw;
}

p {
    font-size: 1vw;
}

#cardtimes {
    align-items: center;
    text-align: center;
}

section {
    display: flex;
    justify-content: center;
}

.escudo {
    width: 15vw;
}

.card {
    max-width: 600px;
    border-radius: 20px;
    padding: 3%;
    margin: 5vw 10vh 5vw 10vw;
    background-color: #294380;
    display: grid;
    grid-template-columns: 30% 60%;
    align-items: center;
    justify-items: center;
}

.card:hover {
    transform: scale(1.05);
    transition-duration: 0.5s;
    background-color: #395eb5;
    cursor: pointer;
}

.informacoesCard {
    margin: 2vh 2vw 3vh 2vw;
}

a {
    text-decoration: none;
}

.cardResultado {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
}

.resultados {
    text-align: justify;
    font-size: 2vw;
}

.vitoria {
    color: green;
}

.derrota {
    color: red;
}

.empate {
    color: yellow;
}

.menu {
    margin-top: 5vw;
    margin-bottom: 5vw;
    padding: 4vh 8vw 4vh 8vw;
    font-size: 2vw;
    font-weight: 900;
    border-radius: 25px;
    background-color: aliceblue;
    color: #0d0f36;
}

.menu:hover {
    transform: scale(1.05);
    transition-duration: 0.5s;
    background-color: rgb(149, 142, 255);
    cursor: pointer;
    color: #0d0f36;
}